# define optimize target
TARGET="../solution/sample_relu"

# define LLMs
MODEL_NAME=
BASE_URL=
API_KEY=
MODEL_PROVIDER=deepseek
# define CUDA architecture list and paths
PYTHON_BIN=/home/liyk/miniconda3/envs/llm/bin/python
TORCH_CUDA_ARCH_LIST="12.0"
CUDA_HOME=/usr/local/cuda-13.2
PATH="$CUDA_HOME/bin:$PATH"
LD_LIBRARY_PATH="$CUDA_HOME/lib64:${LD_LIBRARY_PATH:-}"

# LangSimth
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=kernel-forge-dev
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Developer
PRINT_ALL=true
